body {
  padding: 50px;
  font-family: 'Lato', sans-serif;
}

a {
  color: #00B7FF;
}

table {
    text-align: left;
    border-bottom: 2px solid violet;
}

th {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

td {
    color: grey;
}

th, td {
    padding: 15px;
}

.padded {
    padding: 15px 0 0 0;
}

.padded input {
    margin-top: 15px;
}
